{% extends "layout.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" href="assets/styles/layouts/liste_produits.css">
    <link rel="stylesheet" href="assets/styles/components/filters.css">
    {{ parent() }}
{% endblock %}

{% block navbar %}
    {% set overrideIsWhite = false %}
    {{ parent() }}
{% endblock %}

{% block title %}Nos produits - Emma Pierre{% endblock %}

{% block content %}

{# {{ dump(products) }} #}

    <main class="padding-navbar">
        <nav class="container" id="breadcrumb">
            <ul>
                <li>
                    <a href="/" class="custom-link">Accueil</a>
                </li>
                <li>
                    /
                </li>
                <li>
                    <span>Nos produits</span>
                </li>
            </ul>
            <img src="/assets/icons/breadcrumb.png" alt="">
        </nav>
        <nav id="filters" class="container">
            <button id="filters-button">Filtres</button>
            <ul id="filters-list">
                <li class="dropdown">
                    <button>Collection</button>
                    <ul>
                        {% for productCategory in productCategories %}
                            <li><a href="{{ generateRouteWithFilters({ 'productCategory' : productCategory.id }) }}">{{ productCategory.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <button>Type de pierre</button>
                    <ul>
                        <li><a href="#">Apatites</a></li>
                        <li><a href="#">Emeraude</a></li>
                        <li><a href="#">Labradorite</a></li>
                        <li><a href="#">Opale</a></li>
                        <li><a href="#">Rubis</a></li>
                        <li><a href="#">Saphir</a></li>
                        <li><a href="#">Tourmaline noire</a></li>
                        <li><a href="#">Grenat</a></li>
                        <li><a href="#">Lapis Lazuli</a></li>
                        <li><a href="#">Topaz</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <button>Type de bijoux</button>
                    <ul>
                        {% for jewelryCategory in jewelryCategories %}
                            <li><a href="{{ generateRouteWithFilters({ 'jewelryCategory' : jewelryCategory.id }) }}">{{ jewelryCategory.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </nav>
        <section id="lists" class="container">
            {% for product in products %}
                <article>
                    <div class="image">
                        <img src="/assets/images/photos/boucle_oreille_marron.jpeg" alt="{{ product.name }}">
                        <p>{{ product.description[:100] }}...</p>
                        <svg width="60" height="60" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M27.0482 49.3355L27.0467 49.3342C20.5896 43.4789 15.3103 38.684 11.6336 34.1859C7.96796 29.7012 6 25.6337 6 21.25C6 14.0785 11.6011 8.5 18.75 8.5C22.7977 8.5 26.6991 10.3895 29.2412 13.3513L30 14.2354L30.7588 13.3513C33.3009 10.3895 37.2023 8.5 41.25 8.5C48.3989 8.5 54 14.0785 54 21.25C54 25.6337 52.032 29.7012 48.3664 34.1859C44.6897 38.684 39.4104 43.4789 32.9533 49.3342L32.9518 49.3355L30 52.0227L27.0482 49.3355Z"
                                stroke-width="2" />
                        </svg>

                    </div>
                    <div class="text">
                        <span>{{ product.name }}</span>
                        <span>{{ (product.price / 100)|number_format(2, ",", ' ') }} €</span>
                    </div>
                    <a class="main-button" href="{{ path('app_product_show', { 'id' : product.id}) }}">Voir détails</a>
                </article>
            {% endfor %}
        </section>
        <section id="pagination">
            {% if products.hasPreviousPage %}
            <a href="{{ generateRouteWithFilters({ 'page' : products.previousPage }) }}"><img src="assets/icons/arrow-back-rounded.svg" alt="flèche gauche"></a>
            {% endif %}
            
            {% set currentPageMinusTwo = products.getCurrentPage %}
            {% set currentPagePlusTwo = products.getCurrentPage %}
    
            {% for i in 1..2 %}
                {% if currentPageMinusTwo > 1 %}
                    {% set currentPageMinusTwo = currentPageMinusTwo - 1 %}
                {% endif %}
                {% if currentPagePlusTwo < products.getNbPages %}
                    {% set currentPagePlusTwo = currentPagePlusTwo + 1 %}
                {% endif %}
            {% endfor %}                
            {% for key in currentPageMinusTwo..currentPagePlusTwo %}
            <a href="{{ generateRouteWithFilters({ 'page' : key }) }}"><span class="{% if products.getCurrentPage == key %}active{% endif %}">{{ key }}</span></a>
            {% endfor %}
            {% if products.hasNextPage %}
            <a href="{{ generateRouteWithFilters({ 'page' : products.nextPage }) }}"><img src="assets/icons/arrow-forward-rounded.svg" alt="flèche droite"></a>
            {% endif %}
        </section>
    </main>

{% endblock %}
