{% extends "layout.html.twig" %}

{% block title %}Ecaille de tortue - Emma Pierre{% endblock %}

{% block navbar %}
    {% set overrideIsWhite = false %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
    <script src="/assets/javascripts/product_show.js" defer></script>
    {{ parent() }}
{% endblock %}

{% block content %}

    <main class="padding-navbar">
        <nav class="container" id="breadcrumb">
            <ul>
                <li>
                    <a href="{{ path('homepage') }}" class="custom-link">Accueil</a>
                </li>
                <li>
                    /
                </li>
                <li>
                    <a href="{{ path('app_products_index') }}" class="custom-link">Nos produits</a>
                </li>
                <li>/</li>
                <li><span>Détail produit</span></li>
            </ul>
            <img src="/assets/icons/breadcrumb.png" alt="">
        </nav>
        <section class="container" id="detail-produit">
            <aside>
                <img src="{{ product.Image.path }}" alt="">
                <ul>
                    <li>
                        <img src="{{ product.Image.path }}" alt="">
                    </li>
                    <li>
                        <img src="{{ product.Image.path }}" alt="">
                    </li>
                    <li>
                        <img src="{{ product.Image.path }}" alt="">
                    </li>
                </ul>
            </aside>
            <article>
                <h1>{{ product.name }}</h1>
                <h2>{{ (product.price / 100)|number_format(2, ",", ' ') }} €</h2>
                <p>
                    {{ product.description }}
                </p>
                <p class="text-small">
                    Remarques : toutes les BO crochets sont vendues avec leur stoppeur en silicone.
                </p>
                <ul class="button-list">
                    <li>
                        <a href="#" class="main-button cream" id="addToCart" data-product-id="{{ product.id }}">
                            <svg width="32" height="32" fill="#fff" viewBox="0 0 53 53"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M49.82 13.25H38.16V12.1458C38.16 8.92456 36.9315 5.83522 34.7449 3.55743C32.5582 1.27965 29.5924 0 26.5 0C23.4076 0 20.4418 1.27965 18.2551 3.55743C16.0685 5.83522 14.84 8.92456 14.84 12.1458V13.25H3.18C2.33661 13.25 1.52777 13.599 0.9314 14.2202C0.335035 14.8414 0 15.684 0 16.5625V49.6875C0 50.566 0.335035 51.4086 0.9314 52.0298C1.52777 52.651 2.33661 53 3.18 53H49.82C50.6634 53 51.4722 52.651 52.0686 52.0298C52.665 51.4086 53 50.566 53 49.6875V16.5625C53 15.684 52.665 14.8414 52.0686 14.2202C51.4722 13.599 50.6634 13.25 49.82 13.25ZM16.96 12.1458C16.96 9.51024 17.9651 6.9826 19.7542 5.11896C21.5433 3.25532 23.9698 2.20833 26.5 2.20833C29.0302 2.20833 31.4567 3.25532 33.2458 5.11896C35.0349 6.9826 36.04 9.51024 36.04 12.1458V13.25H16.96V12.1458ZM50.88 49.6875C50.88 49.9803 50.7683 50.2612 50.5695 50.4683C50.3707 50.6753 50.1011 50.7917 49.82 50.7917H3.18C2.89887 50.7917 2.62926 50.6753 2.43047 50.4683C2.23168 50.2612 2.12 49.9803 2.12 49.6875V16.5625C2.12 16.2697 2.23168 15.9888 2.43047 15.7817C2.62926 15.5747 2.89887 15.4583 3.18 15.4583H14.84V20.9792C14.84 21.272 14.9517 21.5529 15.1505 21.7599C15.3493 21.967 15.6189 22.0833 15.9 22.0833C16.1811 22.0833 16.4507 21.967 16.6495 21.7599C16.8483 21.5529 16.96 21.272 16.96 20.9792V15.4583H36.04V20.9792C36.04 21.272 36.1517 21.5529 36.3505 21.7599C36.5493 21.967 36.8189 22.0833 37.1 22.0833C37.3811 22.0833 37.6507 21.967 37.8495 21.7599C38.0483 21.5529 38.16 21.272 38.16 20.9792V15.4583H49.82C50.1011 15.4583 50.3707 15.5747 50.5695 15.7817C50.7683 15.9888 50.88 16.2697 50.88 16.5625V49.6875Z" />
                            </svg>
                            <span>
                                Ajouter au panier
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="favoris-button">
                            <svg width="32" height="32" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M27.0482 49.3355L27.0467 49.3342C20.5896 43.4789 15.3103 38.684 11.6336 34.1859C7.96796 29.7012 6 25.6337 6 21.25C6 14.0785 11.6011 8.5 18.75 8.5C22.7977 8.5 26.6991 10.3895 29.2412 13.3513L30 14.2354L30.7588 13.3513C33.3009 10.3895 37.2023 8.5 41.25 8.5C48.3989 8.5 54 14.0785 54 21.25C54 25.6337 52.032 29.7012 48.3664 34.1859C44.6897 38.684 39.4104 43.4789 32.9533 49.3342L32.9518 49.3355L30 52.0227L27.0482 49.3355Z"
                                    fill="#F2F2F2" stroke="#EC5052" stroke-width="2" />
                            </svg>
                        </a>
                    </li>
                </ul>
                <p id="return-shipping-condition">
                    <span class="text-small">Conditions d'envois de retour</span>
                    <svg width="32" height="32" viewBox="0 0 55 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line y1="-0.5" x2="40.7681" y2="-0.5"
                            transform="matrix(0.66615 0.745817 -0.66615 0.745817 0.115723 1)" stroke="black" />
                        <line y1="-0.5" x2="40.7681" y2="-0.5"
                            transform="matrix(0.66615 -0.745817 0.66615 0.745817 27.8042 31.4058)" stroke="black" />
                    </svg>
                </p>
                <p id="return-shipping-condition-info" class="text-small">
                    Livraison rapide 2 à 5 jours. Vos commandes sont préparées avec le plus grand soin et vous y
                    trouverez quelques attentions. Toujours bien emballés lors de l’envoi, vos bijoux sont livrés dans
                    un pochon ou une boîte afin de pouvoir les protéger au mieux et d’éviter toute dégradation. </small>
                <p class="text-small">Retour : Vous disposez d’un droit de rétractation de 14 jours à compter de la date
                    de réception du
                    colis.</small>
            </article>
        </section>

        <section class="container" id="other-products">
            <h2>Ce que vous pourriez aimer...</h2>
            <div class="splide" data-aos="fade-right" role="group" aria-label="Splide Basic HTML Example"
                id="products-slider">
                <div class="splide__track">
                    <ul class="splide__list">
                        {% for product in sameProductCategoryProducts %}
                            <li class="splide__slide">
                                <a href="{{ path('app_product_show', { 'id' : product.id}) }}">
                                    <img src="/assets/images/photos/boucle_oreille_marron.jpeg" alt="{{ product.name }}">
                                    <h2>{{ product.name }}</h2>
                                    <h3>{{ (product.price / 100)|number_format(2, ",", ' ') }} €</h3>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </main>

{% endblock %}

