{% extends "layout.html.twig" %}

{% block title %}Mon panier - Emma Pierre{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="assets/styles/layouts/tunnel-achat.css">
    {{ parent() }}
{% endblock %}

{% block navbar %}
    {% set overrideIsWhite = false %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
    <script src="/assets/javascripts/cart.js" defer></script>
    {{ parent() }}
{% endblock %}

{% block content %}

    <main class="padding-navbar page-panier">
        <div class="container">
            <div class="row">
                <section class="col-12 col-lg-6">
                    <div class="d-flex flex-column gutter-5">
                        <ul class="steps-cart">
                            <li class="step-cart">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="10" cy="10" r="8.5" stroke="#1D5F6B" stroke-width="3"/>
                                    <circle cx="10" cy="10" r="3" fill="#1D5F6B"/>
                                </svg>
                                <p>Panier</p>
                            </li>
                            <li class="col line-middle"></li>
                            <li class="step-cart">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="10" cy="10" r="9.5" stroke="#1D5F6B"/>
                                </svg>
                                <p>Livraison</p>
                            </li>
                            <li class="col line-middle"></li>
                            <li class="step-cart">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="10" cy="10" r="9.5" stroke="#1D5F6B"/>
                                </svg>
                                <p>Paiement</p>
                            </li>
                            <li class="col line-middle"></li>
                            <li class="step-cart">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="10" cy="10" r="9.5" stroke="#1D5F6B"/>
                                </svg>
                                <p>Confirmation</p>
                            </li>
                        </ul>
                        <form action="/panier">
                            <section class="cart-items">
                                {% set total = 0 %}
                                {% for product in products %}
                                    <article class="cart-item" data-id="{{product.id}}" data-quantity="{{ cart[product.id] }}">
                                        <a href="{{ path('app_product_show', { 'id' : product.id}) }}">
                                            <ul class="cart-item-head">
                                                <li>
                                                    <img class="rounded img-item"
                                                        src="{{ product.image.path }}">
                                                </li>
                                                <li>
                                                    <ul class="d-flex flex-column">
                                                        <li class="title-cart-item">{{ product.name }}</li>
                                                        <li class="">Collection : {{ product.productCategory.name }}</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </a>
                                        <ul class="cart-item-aside">
                                            <li>
                                                <ul class="d-flex gutter-2 align-items-center" data-id="{{product.id}}" data-quantity="{{ cart[product.id] }}" data-price="{{ (product.price / 100)|number_format(2, ".", ' ') }}">
                                                    <a href="#" class="decrement-cart">
                                                        <li>-</li>
                                                    </a>
                                                    <li class="cart-quantity">{{ cart[product.id] }}</li>
                                                    <a href="#" class="increment-cart">
                                                        <li>+</li>
                                                    </a>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul class="cart-item-aside-price">
                                                    {% set total = total + (cart[product.id] * product.price) %}
                                                    <li class="d-flex"><span class="fw-bolder cart-item-total">{{ (cart[product.id] * product.price / 100)|number_format(2, ".", ' ') }} €</span></li>
                                                    <li class="d-flex">
                                                        <svg width="21" height="20" viewBox="0 0 21 20" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                    d="M8.732 3.54165C8.86139 3.17608 9.10091 2.85959 9.41759 2.63575C9.73426 2.41191 10.1125 2.29172 10.5003 2.29172C10.8881 2.29172 11.2664 2.41191 11.5831 2.63575C11.8998 2.85959 12.1393 3.17608 12.2687 3.54165C12.296 3.61908 12.3384 3.69036 12.3933 3.75142C12.4482 3.81248 12.5146 3.86213 12.5887 3.89753C12.6628 3.93294 12.7431 3.9534 12.8251 3.95775C12.9071 3.9621 12.9892 3.95026 13.0666 3.9229C13.144 3.89555 13.2153 3.8532 13.2764 3.7983C13.3374 3.74339 13.3871 3.677 13.4225 3.60291C13.4579 3.52881 13.4783 3.44847 13.4827 3.36647C13.487 3.28447 13.4752 3.20241 13.4478 3.12499C13.2324 2.51554 12.8333 1.98788 12.3055 1.61466C11.7777 1.24145 11.1472 1.04105 10.5007 1.04105C9.85433 1.04105 9.22381 1.24145 8.69602 1.61466C8.16823 1.98788 7.76912 2.51554 7.55366 3.12499C7.52474 3.20272 7.51157 3.28543 7.51493 3.3683C7.51829 3.45117 7.53811 3.53254 7.57323 3.60767C7.60836 3.6828 7.65809 3.75019 7.71952 3.80592C7.78095 3.86164 7.85286 3.90457 7.93106 3.93222C8.00925 3.95987 8.09216 3.97168 8.17497 3.96696C8.25777 3.96225 8.33881 3.94109 8.41335 3.90474C8.4879 3.86839 8.55447 3.81757 8.60917 3.75523C8.66388 3.69289 8.70563 3.62029 8.732 3.54165ZM2.79199 4.99999C2.79199 4.83423 2.85784 4.67526 2.97505 4.55805C3.09226 4.44084 3.25123 4.37499 3.41699 4.37499H17.5837C17.7494 4.37499 17.9084 4.44084 18.0256 4.55805C18.1428 4.67526 18.2087 4.83423 18.2087 4.99999C18.2087 5.16575 18.1428 5.32472 18.0256 5.44193C17.9084 5.55914 17.7494 5.62499 17.5837 5.62499H3.41699C3.25123 5.62499 3.09226 5.55914 2.97505 5.44193C2.85784 5.32472 2.79199 5.16575 2.79199 4.99999ZM4.76449 6.45999C4.92979 6.44901 5.09269 6.50411 5.21739 6.61318C5.34208 6.72225 5.41837 6.87636 5.42949 7.04165L5.81283 12.7916C5.88783 13.9141 5.94116 14.6958 6.05783 15.2833C6.172 15.8541 6.33033 16.1558 6.55783 16.3691C6.78616 16.5825 7.09783 16.7208 7.6745 16.7958C8.2695 16.8733 9.05283 16.875 10.1778 16.875H10.8228C11.9478 16.875 12.7312 16.8733 13.3262 16.7958C13.9028 16.7208 14.2145 16.5825 14.4428 16.3691C14.6703 16.1558 14.8287 15.8541 14.9428 15.2833C15.0595 14.6958 15.1128 13.9141 15.1878 12.7916L15.5712 7.04165C15.5766 6.95974 15.5982 6.87971 15.6346 6.80613C15.671 6.73254 15.7215 6.66685 15.7833 6.6128C15.8451 6.55875 15.9169 6.5174 15.9947 6.4911C16.0725 6.46481 16.1547 6.4541 16.2366 6.45957C16.3185 6.46504 16.3985 6.48659 16.4721 6.52299C16.5457 6.5594 16.6114 6.60993 16.6654 6.67172C16.7195 6.73351 16.7608 6.80534 16.7871 6.88311C16.8134 6.96089 16.8241 7.04307 16.8187 7.12499L16.432 12.9183C16.3612 13.9866 16.3037 14.85 16.1687 15.5283C16.0278 16.2325 15.7895 16.8208 15.2962 17.2816C14.8037 17.7433 14.2003 17.9425 13.4878 18.035C12.8028 18.125 11.9378 18.125 10.8662 18.125H10.1345C9.06283 18.125 8.19783 18.125 7.51283 18.035C6.80033 17.9425 6.197 17.7433 5.70449 17.2816C5.21116 16.8208 4.97283 16.2316 4.83199 15.5283C4.69699 14.85 4.64033 13.9866 4.56866 12.9183L4.18199 7.12499C4.17656 7.04307 4.18732 6.96089 4.21366 6.88313C4.23999 6.80538 4.28139 6.73357 4.33548 6.67181C4.38958 6.61006 4.4553 6.55957 4.52892 6.52322C4.60253 6.48688 4.68258 6.46539 4.76449 6.45999Z"
                                                                    fill="black"/>
                                                        </svg>
                                                        <a class="remove-cart" href="#"> Retirer</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </article>
                                {% endfor %}
                                <div class="form-container">
                                    <input id="reduction-field" type="text" placeholder="&nbsp;"/>
                                    <label for="reduction-field" class="placeholder-input">Code Promo</label>
                                </div>
                                <div>
                                    <ul class="cart-actions">
                                        <li><a href="{{ path('app_products_index') }}" class="secondary-btn">Continuer
                                                mes
                                                achats</a></li>
                                        <li><a href="{{ path('app_shipping') }}" class="validation-btn">Valider mon
                                                panier
                                                <span id="cart-total">{{ (total / 100)|number_format(2, ".", ' ') }} €</span></a></li>
                                    </ul>
                                </div>
                            </section>
                        </form>
                    </div>
                </section>
                <section class="col-6 d-none d-lg-block">
                    <div class="col-9 offset-3 aside-panel-cart position-relative">
                        <img src="/assets/images/photos/gems-outline-ps.png" class="offset-img" alt="gem">
                    </div>
                </section>
            </div>
        </div>
    </main>

{% endblock %}

