{% extends "layout.html.twig" %}

{% block navbar %}
    {% set overrideIsWhite = false %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <main class="container padding-navbar">
        <h1>Liste de mes commandes</h1>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">Référence</th>
                <th scope="col">Total</th>
                <th scope="col">Statut</th>
                <th scope="col">Créé le</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.reference }}</td>
                    <td>
                        <p>Prix HT : {{ (order.total/100)|format_currency('EUR') }}</p>
                        <p>Prix TTC : {{ ((order.total * 1.2)/100)|format_currency('EUR') }}</p>
                    </td>
                    <td>{% if order.status is same as 'paid' %}
                            Payé
                            {% else %}
                            Non payé
                        {% endif %}</td>
                    <td>{{ order.created_at|date('d/m/Y H:s') }}</td>
                    <td>
                        <a href="/user-profile/my-orders/{{ order.id }}" class="btn btn-success">Voir le détail</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>

{% endblock %}