{% extends "admin/layout.html.twig" %}

{% block main %}
    <section>
        <h1>Création d'un produit</h1>
        <form name="product_create" enctype="multipart/form-data" action="/admin/product/create" method="post">
            <div class="row justify-content-center mb-3">
                <div class="col-6">
                    <label for="nom" class="col-form-label">Nom : </label>
                    <input type="text" class="form-control" id="nom" name="product_create[name]" required>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-6">
                    <label for="description" class="col-form-label">Description : </label>
                    <textarea class="form-control" id="description" rows="3" name="product_create[description]" required></textarea>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-6">
                <label for="type" class="col-form-label">Type de bijou : </label>
                    <select class="form-select mb-3" name="product_create[type]" required>
                        {% for jewelryCategory in jewelryCategories %}
                            <option value="{{ jewelryCategory.id }}">{{ jewelryCategory.name }}</option>
                        {% endfor %} 
                    </select>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-6">
                    <label for="category" class="col-form-label">Catégorie : </label>
                    <select class="form-select mb-3" name="product_create[category]" required>
                        {% for productCategory in productCategories %}
                            <option value="{{ productCategory.id }}">{{ productCategory.name }}</option>
                        {% endfor %} 
                    </select>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-6">
                    <label for="" class="col-form-label">Disponible : </label>
                    <div>
                        <div class="form-check form-check-inline col-form-label">
                            <input class="form-check-input" type="radio" name="product_create[available]" value="1">
                            <label class="form-check-label" for="inlineRadio1">Oui</label>
                        </div>
                        <div class="form-check form-check-inline col-form-label">
                            <input class="form-check-input" type="radio" name="product_create[available]" value="0" checked>
                            <label class="form-check-label" for="inlineRadio2">Non</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-6">
                    <label for="price" class="col-form-label">Prix : </label>
                    <input type="number" class="form-control" id="price" name="product_create[price]">
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-6">
                    <label for="formFile" class="form-label">Image : </label>
                    <input class="form-control" type="file" id="formFile" name="product_create[img]">
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-6">
                    <hr><h3>Attributs</h3> 
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-6">
                    {% for attributeGroupWithAttributes in attributeGroupsWithAttributes %}
                        <h5>{{ attributeGroupWithAttributes['attributeGroup'].name }}</h5>
                        <select class="select-attribute mb-3" name="product_create[attributes][]" multiple placeholder="Choisir..." autocomplete="off">
                             {% for attribute in attributeGroupWithAttributes['attributes'] %}
                               <option value="{{ attribute.id }}"> {{ attribute.data }}</option>
                            {% endfor %}
                        </select>                   
                    {% endfor %} 
                </div>
            </div>      
            
            <div class="row justify-content-center mb-3">
                <div class="col-1">
                    <button type="submit" class="btn btn-primary">Créer</button>
                </div>
            </div>
        </form>
    </section>

{% endblock %}

